:root {
    --var-header-height: 50px;
    --var-background: #1f1f1f;
    --var-foreground: white;
    --var-first-color: #660000;
    --var-second-color: #aa0000;
    --main-color: red;
}

body {
    background: var(--var-background);
    color: var(--var-foreground);
    margin: 0;
}

.header {
    background: var(--var-first-color);
    height: var(--var-header-height);
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    padding: 5px 10px;
    box-sizing: border-box;
    display: flex;
}

.header-space {
    height: var(--var-header-height);
    top: 0;
    left: 0;
    padding: 5px;
}

.file-button {
    margin: auto 0;
    display: block;
}

.file-button::file-selector-button {
    background: var(--var-second-color);
    color: var(--var-foreground);
    border: none;
    padding: 5px 10px;
    border-radius: 100px;
}

.change-quiz-button {
    background: var(--var-second-color);
    color: var(--var-foreground);
    border: none;
    padding: 5px 10px;
    border-radius: 100px;
    margin: auto 0 auto auto;
    display: block;
    cursor: pointer;
}

.main {
    padding: 5px;
    width: 100vw;
    height: max-content;
    box-sizing: border-box;
}

.quiz-image {
    width: 100%;
    box-sizing: border-box;
}