:root {
    --header-height: 50px;
    --background: #1f1f1f;
    --foreground: white;
    --accent-foreground: white;
    --first-color: hsl(0, 100%, 20%);
    --second-color: hsl(0, 100%, 30%);
}

* {
    user-select: none;
}

body {
    background: var(--background);
    color: var(--foreground);
    margin: 0;
}

.checkbox {
    accent-color: var(--second-color);
}

.button {
    background: var(--second-color);
    color: var(--accent-foreground);
    border: none;
    padding: 5px 10px;
    border-radius: 100px;
    display: block;
    cursor: pointer;
}

.select-box {
    background: var(--second-color);
    padding: 5px 10px;
    color: var(--accent-foreground);
    border: none;
    border-radius: 100px;
}

.header {
    background: var(--first-color);
    height: var(--header-height);
    width: 100vw;
    position: fixed;
    left: 0;
    padding: 5px 10px;
    box-sizing: border-box;
    display: flex;
}

.header-top {
    top: 0;
}

.header-bottom {
    bottom: 0;
}

.header-space {
    height: var(--header-height);
    top: 0;
    left: 0;
    padding: 5px;
    box-sizing: border-box;
}

.change-quiz-button {
    margin: auto 0 auto auto;
}

.main {
    padding: 5px;
    width: 100vw;
    height: calc(100dvh - var(--header-height));
    box-sizing: border-box;
    position: relative;
}

.menu-button {
    position: relative;
    background: var(--accent-foreground);
    mask-image: url('menu.png');
    mask-size: cover;
    height: 100%;
    width: auto;
    aspect-ratio: 1 / 1;
    cursor: pointer;
}

.quiz-image {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    box-sizing: border-box;
}

.quiz-noimage {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    transform: translate(-50%, -50%);
}

.dialog-container {
    position: fixed;
    top: 0;
    left: 0;
    backdrop-filter: brightness(50%);
    width: 100vw;
    height: 100vh;
    transition: all 0.25s 0s ease;
}

.dialog{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% - 50px);
    height: calc(100% - 50px);
    background: var(--background);
    border-radius: 10px;
    padding: 30px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.dialog-title-bar {
    display: flex;
}

.dialog-close-button {
    margin: auto 0 auto auto;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background: var(--foreground);
    mask-image: url('close.png');
    mask-size: cover;
}

.dialog-content {
    overflow-y: scroll;
    height: 100%;
    scrollbar-width: none;
}

.dialog-section {
    margin-bottom: 50px;
}

.dialog-section-title {
    margin: 10px 0px;
}

.dialog-section>div>* {
    margin-bottom: 20px;
}

.images-area {
    width: 100%;
}

.dialog-image-list-bar {
    width: 100%;
    background: var(--second-color);
    color: var(--accent-foreground);
    text-align: center;
    cursor: pointer;
}

.file-button {
    position: relative;
    display: block;
}

.file-input {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.file-input::file-selector-button {
    cursor: pointer;
}

.experimental-zone {
    background: var(--first-color);
    padding: 10px;
    border: var(--second-color) 3px solid;
    border-radius: 10px;
}

.mini-dialog{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: max-content;
    height: max-content;
    max-width: calc(100% - 50px);
    max-height: calc(100% - 50px);
    background: var(--background);
    border-radius: 10px;
    padding: 30px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.mini-dialog-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.mini-dialog-selection {
    display: flex;
    gap: 10px;
    flex-direction: row-reverse;
}

.invisible {
    visibility: hidden;
    opacity: 0;
}

.hidden {
    display: none;
}